{% extends "base-settings-module.html" %}
{% from "helpers/_navbarlefthelper.html" import render_nav_bar_left %}

{% block title %}
    Content Analyzer
{% endblock %}

{% block header_import %}
    <title>Impostazioni Content Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/ca-fields.css') }}">
    {% if content_type == "Ratings" %}
    <style>
    #sub-header {
        margin-bottom: 10%;
    }
    </style>
    {% endif %}
{% endblock %}

{% block header %}
    <h1>CONTENT ANALYZER</h1>
    <hr>
{% endblock %}

{% block sub_header %} <h4>Setting Fields Dataset</h4> {% endblock %}

{% block nav_bar_left %}
    {{ render_nav_bar_left(project, "Fields", "ContentAnalyzer" + content_type) }}
{% endblock %}

{% block form_content %}
    <form id="main-form" class="ca-form" method="post">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                {% if content_type != "Ratings" %}
                <div id="ca-form-fields-header">
                    <table>
                        <tr>
                            <td><label class="table-id-label">Field Name</label></td>
                            <td><label class="table-id-label">Use Field</label></td>
                            <td><label class="table-id-label">Is Field ID</label></td>
                        </tr>
                    </table>
                </div>
                <div id="ca-form-fields-content">
                    <table>
                        {% for field in fields %}
                            <tr>
                                <td>{{ field }}</td>
                                <td>
                                    {% if field in content_analyzer.fields_selected %}
                                        <input type="checkbox" name="{{ field }}__{{ loop.index }}" id="{{ field }}" checked>
                                    {% else %}
                                        <input type="checkbox" name="{{ field }}__{{ loop.index }}" id="{{ field }}">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if field in content_analyzer.id_fields_name %}
                                        <input type="checkbox" name="{{ field }}__fieldid" id="{{ field }}__fieldid" checked>
                                    {% else %}
                                        <input type="checkbox" name="{{ field }}__fieldid" id="{{ field }}__fieldid">
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                    <div id="ca-fields-ratings">
                        <div class="ratings-row">
                            <div class="ratings-cell"> From Id Column</div>
                            <div class="ratings-cell">
                                <select name="fromIdColumn">
                                    {% for field in fields %}
                                        <option value="{{ field|lower }}" {% if (loop.index - 1) == content_analyzer.from_id_column %} selected {% endif %}>
                                            {{ loop.index - 1 }} - {{ field|capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="ratings-row">
                            <div class="ratings-cell"> To Id Column </div>
                            <div class="ratings-cell">
                                <select name="toIdColumn">
                                    {% for field in fields %}
                                        <option value="{{ field|lower }}" {% if (loop.index - 1) == content_analyzer.to_id_column %} selected {% endif %}>
                                            {{ loop.index - 1 }} - {{ field|capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="ratings-row">
                            <div class="ratings-cell"> Score Column </div>
                            <div class="ratings-cell">
                                <select name="scoreColumn">
                                    {% for field in fields %}
                                        <option value="{{ field|lower }}" {% if (loop.index - 1) == content_analyzer.score_column %} selected {% endif %}>
                                            {{ loop.index - 1 }} - {{ field|capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="ratings-row">
                            <div class="ratings-cell"> Timestamp Column </div>
                            <div class="ratings-cell">
                                <select name="timestampColumn">
                                    <option value="None">None</option>
                                    {% for field in fields %}
                                        <option value="{{ field|lower }}" {% if (loop.index - 1) == content_analyzer.timestamp_column %} selected {% endif %}>
                                            {{ loop.index - 1 }} - {{ field|capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
         <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div id="wrapper-continue">
                    <button type="submit" id="continue-button" form="main-form">
                        <span>Save and continue to next section</span>
                    </button>
                </div>
            </div>
        </div>
{% endblock %}