{% extends "base-settings-module.html" %}
{% from "helpers/_navbarlefthelper.html" import render_nav_bar_left %}

{% block title %}
    Content Analyzer
{% endblock %}

{% block header_import %}
    <title>Impostazioni Content Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/ca-fields.css') }}">
{% endblock %}

{% block header %}
    <h1>CONTENT ANALYZER</h1>
    <hr>
{% endblock %}

{% block sub_header %} <h4>Setting Fields Dataset</h4> {% endblock %}

{% block nav_bar_left %}
    {{ render_nav_bar_left(project, "Fields", "ContentAnalyzer") }}
{% endblock %}

{% block form_content %}
    <form id="main-form" class="ca-form" method="post" action="{{ url_for('ca_fields') }}">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div id="ca-form-fields-header">
                    <table>
                        <tr>
                            <td><label class="table-id-label">Field Name</label></td>
                            <td><label class="table-id-label">Use Field</label></td>
                            <td><label class="table-id-label">Is Field ID</label></td>
                        </tr>
                    </table>
                </div>
                <div id="ca-form-fields-content">
                    <table>
                        {% for field in fields %}
                            <tr>
                                <td>{{ field }}</td>
                                <td>
                                    {% if field in project.content_analyzer.get_fields() %}
                                        <input type="checkbox" name="{{ field }}__{{ loop.index }}" id="{{ field }}" checked>
                                    {% else %}
                                        <input type="checkbox" name="{{ field }}__{{ loop.index }}" id="{{ field }}">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if field in project.content_analyzer.get_id_fields() %}
                                        <input type="checkbox" name="{{ field }}__fieldid" id="{{ field }}__fieldid" checked>
                                    {% else %}
                                        <input type="checkbox" name="{{ field }}__fieldid" id="{{ field }}__fieldid">
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </form>
         <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div id="wrapper-continue">
                    <button type="submit" form="main-form">
                        <span>Save and continue to next section</span>
                    </button>
                </div>
            </div>
        </div>
{% endblock %}