{% macro render_nav_bar_left(project, current_page, current_module) %}
    <div id="nav-bar-left">
        <a href="{{ url_for('index') }}" id="home-button"><img src="{{ url_for('static', filename='icons/home-icon.svg') }}"></a>
        {% if current_module == "ContentAnalyzer" or project.content_analyzer.is_complete() %}
            <div class="module-status" id="content-analyzer" style="background-color: #F79E02;">
        {% else %}
            <div class="module-status" id="content-analyzer">
        {% endif %}
            <label>Content Analyzer</label>
            <div class="pages">
                {% for name_page, status in project.content_analyzer.pages_status.items() %}
                    {% if status.name != "DISABLED" %}
                        <a href="../content-analyzer/{{ name_page|lower }}">
                    {% endif %}
                    <div class="page">
                        <label>{{ name_page|upper }}</label>
                        <div class="page-status">
                            {% if current_page == name_page and current_module == "ContentAnalyzer" %}
                                <div class="status current"></div>
                            {% else %}
                                <div class="status {{ status.name|lower }}"></div>
                            {% endif %}
                        </div>
                    </div>
                    {% if status.name != "DISABLED" %}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if current_module == "RecSys" or project.recommender_system.is_complete() %}
            <div class="module-status" id="recsys" style="background-color: #4285F4;">
        {% else %}
            <div class="module-status" id="recsys">
        {% endif %}
            <label>Recommender System</label>
            <div class="pages">
                {% for name_page, status in project.recommender_system.pages_status.items() %}
                    {% if status.name != "DISABLED" %}
                        <a href="../recsys/{{ name_page|lower }}">
                    {% endif %}
                    <div class="page">
                        <label>{{ name_page|upper }}</label>
                        <div class="page-status">
                            {% if current_page == name_page and current_module == "RecSys" %}
                                <div class="status current"></div>
                            {% else %}
                                <div class="status {{ status.name|lower }}"></div>
                            {% endif %}
                        </div>
                    </div>
                    {% if status.name != "DISABLED" %}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="module-status" id="eval" >
        </div>
        <div id="save-button">
            <img src="{{ url_for('static', filename='icons/save-icon.svg') }}">
            <label>Save Project to File</label>
        </div>
        <a href="{{ url_for('execute_modules') }}" id="execute-button"><img src="{{ url_for('static', filename='icons/play-arrow-icon.svg') }}"></a>
    </div>
{% endmacro %}