<!DOCTYPE html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/absolute.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='javascript/nav-bar-left-script.js') }}"></script>
    {% block header_import %} {% endblock %}
</head>
<body>
    <div id="nav-bar-left">
        {% block nav_bar_left %} {% endblock %}
    </div>
    <div id="box">
        <div id="header">
                {% block header %} {% endblock %}
        </div>
        <div id="sub-header">
            {% block sub_header %} {% endblock %}
        </div>
        <div id="content">
            {% block form_content %} {% endblock %}
        </div>
    </div>
</body>