{% from "helpers/_navbarlefthelper.html" import render_nav_bar_left %}

<!DOCTYPE html>
<head>
    <title>ORANGE CB RECSYS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='javascript/nav-bar-left-script.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='javascript/execute-script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/absolute.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/execute.css') }}">
</head>
<body>
    <div id="overlay">
        <div id="dialog">
            <div id="dialog-header">CONFIRMATION</div>
            <div id="dialog-question"></div>
            <div id="dialog-buttons">
                <button id="dialog-yes">YES</button>
                <button id="dialog-no">NO</button>
            </div>
        </div>
    </div>
    <div id="toast">
        <label></label>
    </div>
    <div id="header">
        <h1>EXECUTE</h1>
    </div>
    {{ render_nav_bar_left(project, "Execute", "Execute") }}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% if project.content_analyzer_items.is_complete() %}
                <div class="module">
            {% else %}
                <div class="module not-complete">
            {% endif %}
                <div class="header-module" name="ContentAnalyzer">Content Analyzer</div>
                <div class="wrapper-content-type">
                    {% for nameModule, module in project.modules["ContentAnalyzer"].items() %}
                        {% if module.is_complete() %}
                            <div class="wrapper-type">
                                <input type="radio" name="content-type-analyzer" value="{{ nameModule }}">
                                <label>{{ nameModule }}</label>
                            </div>
                        {% else %}
                            <div class="wrapper-type">
                                <input type="radio" name="content-type-analyzer" value="{{ nameModule }}" disabled>
                                <label>{{ nameModule }}</label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="wrapper-buttons">
                    {% if project.content_analyzer_items.is_complete() %}
                        <button class="fit-button">
                    {% else %}
                         <button class="fit-button" disabled>
                    {% endif %}
                        <label>Fit</label>
                        <img src="{{ url_for('static', filename='icons/play-arrow-icon.svg') }}">
                    </button>
                    {% if project.content_analyzer_items.is_complete() %}
                        <button class="config-button">
                    {% else %}
                         <button class="config-button" disabled>
                    {% endif %}
                        <label>Export config file</label>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% if project.recommender_system.is_complete() %}
                <div class="module">
            {% else %}
                <div class="module not-complete">
            {% endif %}
                <div class="header-module" name="RecSys">Recommender System</div>
                    {% if project.recommender_system.is_complete() %}
                        <div class="wrapper-fit-recsys">
                            <div class="parameter-fit">
                                <label> Users ID List </label>
                                <div class="add-item">
                                    <button class="add-item-button">Add User</button>
                                </div>
                                <div class="list-possible-parameter" id="users-list-recsys"></div>
                            </div>
                            <div class="parameter-fit">
                                <label> Items ID List </label>
                                <div class="add-item">
                                    <button class="add-item-button">Add Item</button>
                                </div>
                                <div class="list-possible-parameter" id="items-list-recsys"></div>
                            </div>
                            <div class="parameter-fit">
                                <label>Rank Number</label><input type="number" id="rank-number">
                            </div>
                        </div>
                        <div class="wrapper-buttons">
                            <button class="config-button">
                                <label>Export config file</label>
                            </button>
                            <button class="fit-button-rank">
                                <label>Fit Rank</label>
                                <img src="{{ url_for('static', filename='icons/play-arrow-icon.svg') }}">
                            </button>
                            <button class="fit-button-predict">
                                <label>Fit Predict</label>
                                <img src="{{ url_for('static', filename='icons/play-arrow-icon.svg') }}">
                            </button>
                        </div>
                    {% else %}
                        <div class="wrapper-buttons">
                            <button class="config-button" disabled>
                                <label>Export config file</label>
                            </button>
                            <button class="fit-button-rank" disabled>
                                <label>Fit Rank</label>
                                <img src="{{ url_for('static', filename='icons/play-arrow-icon.svg') }}">
                            </button>
                            <button class="fit-button-predict" disabled>
                                <label>Fit Predict</label>
                                <img src="{{ url_for('static', filename='icons/play-arrow-icon.svg') }}">
                            </button>
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% if project.eval_model.is_complete() %}
                <div class="module">
            {% else %}
                <div class="module not-complete">
            {% endif %}
                <div class="header-module" name="EvalModel">Eval Model</div>
                    {% if project.eval_model.is_complete() %}
                        <div class="wrapper-fit-eval">
                            <div class="parameter-fit">
                                <label> Users ID List </label>
                                <div class="add-item">
                                    <button class="add-item-button">Add User</button>
                                </div>
                                <div class="list-possible-parameter" id="users-list-eval"></div>
                            </div>
                        </div>
                        <div class="wrapper-buttons">
                            <button class="config-button">
                                <label>Export config file</label>
                            </button>
                            <button class="fit-button">
                                <label>Fit</label>
                                <img src="{{ url_for('static', filename='icons/play-arrow-icon.svg') }}">
                            </button>
                        </div>
                    {% else %}
                        <div class="wrapper-buttons">
                            <button class="config-button" disabled>
                                <label>Export config file</label>
                            </button>
                            <button class="fit-button" disabled>
                                <label>Fit</label>
                                <img src="{{ url_for('static', filename='icons/play-arrow-icon.svg') }}">
                            </button>
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>
</body>
