{% from "helpers/_navbarlefthelper.html" import render_nav_bar_left %}

<!DOCTYPE html>
<head>
    <title>ORANGE CB RECSYS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='javascript/nav-bar-left-script.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='javascript/logger-script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/absolute.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/logger.css') }}">
</head>
<body>
    <div id="overlay">
        <div id="dialog">
            <div id="dialog-header">CONFIRMATION</div>
            <div id="dialog-question"></div>
            <div id="dialog-buttons">
                <button id="dialog-yes">YES</button>
                <button id="dialog-no">NO</button>
            </div>
        </div>
    </div>
    <div id="toast">
        <label></label>
    </div>
    <div id="header">
        <h1>LOGGER {{ content_type }}</h1>
    </div>
    {{ render_nav_bar_left(project, "Execute", "Execute") }}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="wrapper-logger">
                <div id="logger"></div>
            </div>
        </div>
    </div>
</body>
