{% extends "base-settings-module.html" %}

{% block title %}
    Content Analyzer
{% endblock %}

{% block header_import %}
    <title>Impostazioni Content Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/recsys-representations.css') }}">
{% endblock %}

{% block header %}
    <a href="{{ url_for('recsys_upload') }}"><img id="back-button" src="{{ url_for('static', filename='icons/arrow-back-icon.svg') }}"></a>
    <h1>RECOMMENDER SYSTEM</h1>
    <hr>
{% endblock %}

{% block sub_header %} <h4>Setting Representations</h4> {% endblock %}

{% block form_content %}
    <div class="col-2"></div>
    <div class="col-8">
        <div id="header-representations">FIELDS WITH REPRESENTATIONS</div>
        <div id="div-content-representations">
            <div class="representations-list">
                {% for field in fields_representations.items() %}
                    <div class="field-wrapper">
                        <div class="field-name">{{ field[0] }}</div>
                            {% if field[1].get_internal_index()|length != 1 %}
                                <hr>
                                <div class="representations-list">
                                {% for representations in field[1].get_external_index() %}
                                    <div class="representation-item">
                                        <label class="representation-label">
                                            <input type="checkbox" name="{{ field[0] }}-{{ representations }}">
                                        {{ representations }}</label>
                                    </div>
                                {% endfor %}
                                </div>
                            {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}