{% extends "base-settings-module.html" %}
{% from "helpers/_parmshelper.html" import render_param %}
{% from "helpers/_navbarlefthelper.html" import render_nav_bar_left %}

{% block title %}
    Recommender System
{% endblock %}

{% block header_import %}
    <title>Recsys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/recsys-representations.css') }}">
    <script type=module src="{{ url_for('static', filename='javascript/recsys-representations-script.js') }}"></script>
{% endblock %}

{% block header %}
    <h1>RECOMMENDER SYSTEM</h1>
    <hr>
{% endblock %}

{% block sub_header %} <h4>Setting Representations</h4> {% endblock %}

{% block nav_bar_left %}
    {{ render_nav_bar_left(project, "Representations", "RecSys") }}
{% endblock %}

{% block form_content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <div class="header-algorithms">RECOMMENDER ALGORITHMS</div>
            <div class="div-content-algorithms">
                <div class="block-algorithms-selection">
                    <label>Algorithm Type</label>
                    <select class="select-algorithm" name="algtype">
                        {% for algorithm in project.recommender_system.algorithms %}
                            {% if algorithm["name"] == project.recommender_system.selected_algorithm %}
                                <option value="{{ algorithm['name'] }}" selected>{{ algorithm['name'] }}</option>
                            {% else %}
                                <option value="{{ algorithm['name'] }}">{{ algorithm['name'] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="block-algorithms">
                    {% for algorithm in project.recommender_system.algorithms %}
                    <div class="block-algorithm" name="algtype-{{ algorithm['name'] }}">
                        {% for param in algorithm['params'] %}
                            {{ render_param(param, false, project.recommender_system.field_dict, project) }}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="header-representations">FIELDS WITH REPRESENTATIONS</div>
            <div class="div-content-representations">
                <div class="representations-list">
                    {% for field, representations in fields_representations["Items"].items() %}
                        <div class="field-wrapper">
                            <div class="field-name"><input type="checkbox" name="{{ field }}-use">{{ field }}</div>
                                {% if representations|length > 0 %}
                                    <hr>
                                    <div class="representations-list">
                                    {% for representation in representations %}
                                        <div class="representation-item">
                                            <input type="checkbox" name="{{ field }}-{{ representation }}">
                                            <label class="representation-label">{{ representation }}</label>
                                        </div>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="wrapper-continue">
                <button type="submit" id="save-form">
                    <span>Save algorithm</span>
                </button>
                <button type="submit" id="continue-button">
                    <span>Save and continue to next section</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}