{% extends "base-settings-module.html" %}

{% block title %}
    Recsys
{% endblock %}

{% block header_import %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/recsys-upload.css') }}">
{% endblock %}

{% block sub_header %} <h4>Setup Content</h4> {% endblock %}

{% block header %}
    <h1>RECOMMENDER SYSTEM</h1>
    <hr>
{% endblock %}

{% block form_content %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form class="recsys-form-upload"method="post" enctype=multipart/form-data>
                <table>
                    <tr>
                        <td class="form-label"> Output directory name </td>
                        <td> <input type="text" name="outputDir"> </td>
                    </tr>
                     <tr>
                        <td class="form-label"> Path to content </td>
                        <td> <input type="text" name="pathContent"> </td>
                    </tr>
                </table>
                <input type="image" src="{{ url_for('static', filename='/icons/arrow-right-icon.svg') }}" alt="Submit">
            </form>
            <div class="wrapper-errors">
                {% for error in list_errors %}
                    <div class="div-error">
                        {{ error | safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}