{% extends "base-settings-module.html" %}
{% from "helpers/_navbarlefthelper.html" import render_nav_bar_left %}

{% block title %}
    Recommender System
{% endblock %}

{% block header_import %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/recsys-upload.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='javascript/recsys-upload-script.js') }}"></script>
{% endblock %}

{% block sub_header %} <h4>Setup Content</h4> {% endblock %}

{% block header %}
    <h1>RECOMMENDER SYSTEM</h1>
    <hr>
{% endblock %}

{% block nav_bar_left %}
    {{ render_nav_bar_left(project, "Upload", "RecSys") }}
{% endblock %}

{% block form_content %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="{{ url_for('recsys_upload') }}" id="recsys-form-upload" method="post" enctype=multipart/form-data>
                <table>
                    <tr>
                        <td class="form-label"> Output path directory </td>
                        <td> <input type="text" id="outputDir" name="outputDir" value="{{ project.recommender_system.output_directory }}"> </td>
                    </tr>
                    <tr>
                        <td class="form-label"> Items path directory </td>
                        <td> <input type="text" id="pathItems" name="pathItems" value="{{ project.recommender_system.items_path }}"> </td>
                    </tr>
                    <tr>
                        <td class="form-label"> Users path directory </td>
                        <td> <input type="text" id="pathUsers" name="pathUsers" value="{{ project.recommender_system.users_path }}"> </td>
                    </tr>
                    <tr>
                        <td class="form-label"> Ratings path directory </td>
                        <td> <input type="text" id="pathRatings" name="pathRatings" value="{{ project.recommender_system.rating_path }}"> </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="wrapper-errors">
            {% for error in list_errors %}
            <div class="div-error">
                {{ error | safe }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div id="wrapper-continue">
                <button form="recsys-form-upload" type="submit" >
                    <span>Save and continue to next section</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}