@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

html {
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    font-smooth: always;
}

#home-button img {
    width: 100%;
}

#home-button {
    border-bottom: 2px solid black;
    padding: 6px;
}

#execute-button img {
    width: 50px;
}

#execute-button {
    padding-left: 10px;
    border-top: 2px solid black;
}

#save-button {
    margin: auto;
    position: relative;
}

#save-button label {
    margin-left: 2px;
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 5px;
    left: 50px;
    top: -5px;
    display: none;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#save-button:hover {
    cursor: pointer;
}

#back-button {
    position: absolute;
    top: 5vh;
    left: 15vh;
    border: 2px solid black;
    padding: 5px;
    border-radius: 100%;
    background-color: #f1f1f1!important;
}

#header {
    text-align: center;
}

#sub-header {
    text-align: center;
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%; height: 100%;}
.col-2 {width: 16.66%; height: 100%;}
.col-3 {width: 25%; height: 100%;}
.col-4 {width: 33.33%; height: 100%;}
.col-5 {width: 41.66%; height: 100%;}
.col-6 {width: 50%; height: 100%;}
.col-7 {width: 58.33%; height: 100%;}
.col-8 {width: 66.66%; height: 100%;}
.col-9 {width: 75%; height: 100%;}
.col-10 {width: 83.33%; height: 100%;}
.col-11 {width: 91.66%; height: 100%;}
.col-12 {width: 100%; height: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.content {
    flex: 0 1 40px;
}

#header hr {
    width: 30%;
    border: 1px solid black;
    margin-bottom: 0;
}

table, tr, td {
    border-collapse: collapse;
    border: 0px;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    vertical-align:middle;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

.module {
    height: 100%;
}

#nav-bar-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 8vh;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1!important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%)
}

.module-status {
    border-bottom: 2px solid black;
    background-color: #f1f1f1;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.module-status:last-child {
    border-bottom: 0px;
}

.pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.page {
    margin: 10px;
    vertical-align: middle;
    position: relative;
}

.page:hover {
    cursor: pointer;
}

.page label {
    margin-left: 2px;
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 5px;
    z-index: 5;
    left: 35px;
    top: -2px;
    display: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

a {
    color: black;
    text-decoration: none;
}

.page-status {
    border: 1px solid black;
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.status {
    border: 1px black solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0px 0px -10px;
}

.complete {
    background-color: #45E620;
}

.incomplete {
    background-color: #F7F7F2;
}

#content-analyzer .current {
    background-color: #F79E02;
}

#recsys .current {
    background-color: #4285F4;
}

#evalmodel .current {
    background-color: #BF1A2F;
}

.disabled {
    background-color: #595260;
}

#nav-bar-left > label {
    text-align: center;
    background-color: #f1f1f1;
    border-bottom: 2px solid black;
    font-weight: bold;
    font-size: 20px;
}

.module-status > label {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-align: center;
    font-weight: bold;
    margin-left: 5px;
}

#wrapper-continue {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper-continue button {
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#wrapper-continue #continue-button span {
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

#wrapper-continue #continue-button span:after {
    content: '🡆';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#wrapper-continue #continue-button:hover span:after {
    opacity: 1;
    right: 0;
}

#wrapper-continue #continue-button:hover span {
    padding-right: 25px;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: flex;
    align-items: center;
    display: none;
}

#dialog {
    text-align: center;
    width: 500px;
    height: 210px;
    border: 2px solid black;
    background-color: #f1f1f1;
    margin: auto;
    vertical-align: middle;
    border-radius: 10px;
}

#dialog-header {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid black;
    background-color: #d4d4d4;
    border-radius: 10px 10px 0px 0px;
}

#dialog-question {
    width: 325px;
    margin-left: 85px;
    padding: 25px;
}

#dialog-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

#dialog-buttons button {
    width: 70px;
    height: 40px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #d4d4d4;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#dialog-buttons button:hover {
    font-weight: bold;
    font-size: 16px;
    width: 75px;
    height: 45px;
    cursor: pointer;
}

#toast {
    position: absolute;
    bottom: 40px;
    z-index: 5;
    width: 100%;
    text-align: center;
    display: none;
}

#toast label {
    border: 2px solid black;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    font-weight: bolder;
    font-size: 20px;
}

.disabled-form {
    opacity: 0.6;
}

#save-form {
    margin-right: 20px;
}

select {
    padding: 5px;
    font-size: 15px;
}

.sub-pages {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 100%;
    background: #f1f1f1;
    border: 2px solid black;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    display: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sub-pages label {
    padding: 5px;
    font-weight: bold;
}