
#nav-bar-fields {
    border: 2px solid black;
    height: 69vh;
    overflow: auto;
    background-color: #f1f1f1!important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%)
}

#nav-bar-fields ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

#nav-bar-fields ul:first-child {
    padding: 0px;
}

#nav-bar-fields ul li {
    padding: 10px;
}

button {
    background-color: #f1f1f1!important;
}

#div-content-field {
    border: 2px solid black;
    height: 69vh;
    background-color: #f1f1f1!important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.field-container {
    display: none;
}

.active-container {
    display: block;
}

.active-field {
    font-weight: bolder;
}

.div-ca-settings {
    flex-grow: 1;
}

.representation-list {
    list-style-type: none;
    padding: 0;
    position: relative;
    z-index: 2;
    overflow-y: auto;
    margin-top: 10px;
    border-top: 2px solid black;
    height: -moz-calc(100% - 63px);
    height: -webkit-calc(100% - 63px);
    height: -o-calc(100% - 63px);
    height: calc(100% - 63px);
}

.div-representation:first-child .wrapper-name-id {
    border-top: 0px;
}

.representation-list .div-representation:last-child {
    border: 0px;
}

#new-representation {
    padding: 10px;
    text-align: center;
    margin: 10px 10px 0px 10px;
    background-color: #C2C2C2;
    border: 2px solid black;
    transition: 0.3s;
    font-size: 17px;
}

#new-representation:hover {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

#new-representation-options {
    margin: 0px 10px 0px 10px;
    border: 2px solid black;
    border-top: 0px;
    height: 40%;
    overflow-y: auto;
    display: none;
    position: fixed;
    z-index: 3;
}

.new-representation-option {
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid black;
    background-color: #f1f1f1;
}

.new-representation-option label {
    opacity: 0.6;
    transition: 0.3s;
    font-size: 14px;
}

.new-representation-option:hover label {
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.new-representation-option:hover {
    cursor: pointer;
}

.new-representation-option:last-child {
    border-bottom-width: 0px;
}

::-webkit-scrollbar {
    border-left: 2px solid black;
    width: 10px;
}

::-webkit-scrollbar-track {
    border-left: 2px solid black;
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-left: 2px solid black;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    border-left: 2px solid black;
    background: #555;
}

.header-label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    flex: 4;
}

.block-parameter {
    margin: 10px;
}

.parameters-table {
    flex: 4;
    height: 100%;
    display: table;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 5px;
    width: 100%;
}

.nlp-table {
    height: 100%;
    width: 100%;
    flex: 4;
    display: table;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
}

.nlp-technique .row-header-nlp {
    border-bottom: 2px solid black;
}

.nlp-technique {
    border: 2px solid black;
}

.table-row .table-cell:last-child {
    flex: 2;
    order: 2;
    width: 100%;
}

.table-row .table-cell:first-child {
    width: auto;
    justify-content: center;
    align-items: center;
}

.table-cell {
    display: table-cell;
    padding: 5px;
    box-sizing: border-box;
    vertical-align: middle;
}

.row-header-nlp td:first-child {
    padding-left: 20px;
}

.wrapper-name-id {
    margin-bottom: -2px;
    padding: 5px 0 5px;
    border-top: 2px solid black ;
    border-bottom: 2px solid black;
    font-weight: bold;
    display: flex;
}

.representation-algorithm-name {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.representation-id {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.close-representation {
    width: 25px;
    height: 20px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    background: white;
    border: 0px;
}

.close-representation:hover {
    cursor: pointer;
}

.wrapper-option-number {
    display: flex;
}

.wrapper-option-number:hover {
    cursor: pointer;
}

.wrapper-option-number:last-child {
    border-bottom-width: 0px;
}

[id*='nav-option-'] {
    display: inline;
}

.number-representations {
    order: 2;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
    display: none;
    font-weight: bold;
}

.active-number {
    display: inline;
}

.div-representation-header {
    margin-top: 10px;
    margin-left: 10px;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: -o-calc(100% - 20px);
    width: calc(100% - 20px);
    display: flex;
}

.div-representation-content {
    display: block;
    padding: 0px 10px 10px 10px;
    align-items: baseline;
    width: 100%;
}

.div-representation:last-child {
    border-bottom: 2px solid black;
}

.input-name-id {
    border: 0px;
    font-size: 15px;
    margin-left: 5px;
    background-color: #f1f1f1!important;
}

.input-name-id:focus {
    outline: none;
}

.block-union-parameter > .block-parameter {
    display: none;
}

.block-sub-classes > .block-parameter {
    display: none;
}

.tr-multiparam .table-cell {
    padding-left: 20px;
}

.delete-representation {
    width: 30px;
    order: 2;
    margin-left: auto;
    margin-right: 10px;
}

.delete-representation:hover {
    cursor: pointer;
}

.div-nlp {
    width: 50%;
    display: inline;
}

.wrapper-representation-content {
    display: flex;
    flex-direction: column;
    width: -moz-calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
    width: -o-calc(100% - 10px);
    width: calc(100% - 10px);
    margin-left: 5px;
}

#header {
    margin-top: 2%;
}