.col-4 > table {
    border: 2px black solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1!important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%)
}

tr td:last-child {
    width: 50%;
}

input[type=text] {
    width: 80%;
}

#submit-cell {
    text-align: right;
    padding-bottom: 10px;
}

.errors {
    color: red;
    font-size: 12px;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
}

.form-label {
    font-weight: bold;
    padding: 20px;
}

#header {
    margin-top: 3%;
}

#sub-header {
    margin-bottom: 7%;
}

input[type='image'] {
    height: 50px;
    order: 2;
    margin-left: auto;
    margin-right: 20px;
}