#ca-form-upload {
    border: 2px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f1f1f1!important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    justify-content: center;
}

input[type="file"] {
    width: 50%;
}

#submit-cell {
    text-align: right;
    padding-bottom: 10px;
}

input[type="text"] {
    width: 80%;
}

.errors {
    color: red;
    font-size: 12px;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
}

.form-label {
    font-weight: bold;
    padding: 20px;
}

#header {
    margin-top: 3%;
}

#sub-header {
    margin-bottom: 7%;
}

.wrapper-errors {
    margin-top: 15px;
    text-align: center;
}

.div-error {
    padding-bottom: 10px;
}

.wrapper-radio {
    display: inline-flex;
    align-items: center;
}

.wrapper-radio > label {
    margin: 0px 15px 0px 5px;
}
