.header-module {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.module {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.not-complete {
    opacity: 0.6;
}

.config-button {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.config-button:disabled > label, .config-button:disabled {
    cursor: default;
}

.config-button > label {
    cursor: pointer
}

.fit-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fit-button:disabled, .fit-button:disabled label {
    cursor: default;
}

.fit-button > label {
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.fit-button > img {
    width: 26px;
}

.wrapper-content-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.wrapper-type {
    display: flex;
    align-items: center;
}

.wrapper-type > label {
    margin-left: 5px;
}

.wrapper-fit-recsys {
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

input[type=number] {
    width: 50px;
}

.fit-button-rank {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    order: 3;
    margin-top: auto;
}

.fit-button-rank > img {
    width: 20px;
}

.fit-button-rank > label {
    font-size: 17px;
    font-weight: bold;
}

.fit-button-predict {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    order: 3;
    margin-top: auto;
}

.fit-button-predict > img {
    width: 20px;
}

.fit-button-predict > label {
    font-size: 17px;
    font-weight: bold;
}

.parameter-fit {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parameter-fit > label {
    padding: 5px;
    font-weight: bold;
}

.wrapper-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.delete-item {
    width: 25px;
    cursor: pointer;
}

.item-possible-parameter {
    display: flex;
    margin: 5px;
    justify-content: space-between;
    align-items: stretch;
}

.list-possible-parameter {
    height: 110px;
    overflow: auto;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 230px;
}