#wrapper-project {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    height: 100%;
}

#div-project {
    border: 2px solid black;
    border-radius: 10px;
    height: 250px;
    background-color: #f1f1f1;
}

#ca-module {
    background-color: #F79E02;
}

#rs-module {
    background-color: #86C232;
}

#ev-module {
    background-color: #4285F4;
}

#module-forms {
    padding-top: 3%;
}

.module-name {
    padding-top: 5%;
    text-align: center;
    font-weight: bold;
    font-size: large;

}

.project-icon {
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#div-project hr {
    border-color: black;
    width: 100%;
}

.project-button-config {
    text-align: center;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

form {
    flex: 1;
}

.project-button-config button {
    background-color: #f1f1f1;
    border: 0px;
    font-size: 15px;
    font-family: Ubuntu, sans-serif;
    cursor: pointer;
}

.project-button-config input {
    left: 0px;
    opacity: 0;
    z-index: 2;
    position: absolute;
    width: 100%;
}

.project-button-config input:hover span {
    font-weight: bold;
    cursor: pointer;
}

.project-button-config input:hover {
    cursor: pointer;
    font-weight: bold;
}

.project-button-config span {
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 1;
    width: 100%;
}

#header {
    margin-top: 5%;
    margin-bottom: 5%;
}
