#wrapper-project {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    height: 100%;
}

#div-project {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f1f1f1;
}

#ca-module {
    background-color: #F79E02;
}

#rs-module {
    background-color: #86C232;
}

#ev-module {
    background-color: #4285F4;
}

.project-icon {
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#div-project hr {
    border-color: black;
    width: 100%;
}

.project-button-config {
    text-align: center;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

.project-button-config button {
    background-color: #f1f1f1;
    border: 0px;
    font-size: 15px;
    transition: 0.3s;
    font-family: Ubuntu, sans-serif;
    cursor: pointer;
}

.project-button-config button:hover {
    font-weight: bold;
    font-size: 16px;
}

.project-button-config span {
    font-size: 15px;
    transition: 0.3s;
}

.project-button-config input {
    left: 0px;
    opacity: 0;
    z-index: 2;
    position: absolute;
    width: 100%;
}

.project-button-config input:hover span {
    font-weight: bold;
    cursor: pointer;
}

.project-button-config input:hover {
    cursor: pointer;
    font-weight: bold;
}

.project-button-config span {
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 1;
    width: 100%;
}

#header {
    margin-top: 5%;
    margin-bottom: 5%;
}

#wrapper-forms {
    border-bottom: 2px solid black;
    height: 120px;
    text-align: center;
    padding-top: 10px;
}

#wrapper-forms form {
    padding-top: 15px;
}

#wrapper-current-project {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper-current-project label, #wrapper-forms label {
    font-weight: bold;
    font-size: 20px;
}

#current-project-content {
    padding: 10px;
}

#table-content tr td {
    padding: 5px;
}

#table-content {
    margin-left: 50px;
}

#nameProject {
    width: 70%;
}

#savePath {
    width: 90%;
}

#table-content tr {
    padding-bottom: 10px;
}

#wrapper-submit {
    margin-top: 10px;
}

#wrapper-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper-submit button {
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.div-error {
    text-align: center;
}
