.div-content-algorithms {
    border: 2px solid black;
    height: 69vh;
    overflow-y: auto;
    background-color: #f1f1f1!important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%)
}

.col-8 {
    transition: 0.3s;
}

.col-6 {
    transition: 0.3s;
}

.div-content-representations {
    border: 2px solid black;
    height: 69vh;
    overflow-y: auto;
    background-color: #f1f1f1!important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%)
}

.field-wrapper {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0 10px 0;
    margin-top: -2px;
}

.header-representations {
    text-align: center;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.header-algorithms {
    text-align: center;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.representations-list {
    list-style-type: none;
    margin: 0 0 10px;
}

.representations-list hr {
    margin: 5px auto;
    width: 30%;
    border-color: black;
}

.representation-label {
    text-align: center;
}

.representation-item input {
    vertical-align: bottom;
    position: relative;
}

.representation-label {
    display: block;
}

.field-name {
    text-align: center;
    font-weight: bold;
}

.block-parameter {
    margin: 10px;
}

.block-union-parameter > .block-parameter {
    display: none;
}

.block-sub-classes > .block-parameter {
    display: none;
}

.block-algorithm {
    display: none;
}

.block-algorithms-selection {
    padding: 10px;
    border-bottom: 2px solid black;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: baseline;
}

.block-algorithms-selection > select {
    padding: 5px;
    margin-left: 10px;
}

.block-algorithms {
    margin: 5px;
}

.block-sub-classes > .block-parameter > .block-parameter-container {

}

input[type=text], input[type=number] {
    margin-left: 10px;
}

.block-sub-classes > .block-parameter > .block-parameter-container > .block-parameter {
    margin-left: 0px;
}

.block-union-parameter {
    margin-top: 5px;
}

.block-sub-classes > .block-parameter {
    padding: 5px 0px 0px 5px;
}
