.div-content-algorithms {
    border: 2px solid black;
    height: 69vh;
    overflow-y: auto;
    background-color: #f1f1f1!important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.col-8 {
    transition: 0.3s;
}

.col-6 {
    transition: 0.3s;
}

.div-content-representations {
    border: 2px solid black;
    height: 69vh;
    overflow-y: auto;
    background-color: #f1f1f1!important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    overflow-x: hidden;
}

.field-wrapper {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0 10px 0;
    margin-top: -2px;
}

.header-representations {
    text-align: center;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.header-algorithms {
    text-align: center;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.representations-list {
    list-style-type: none;
}

.representations-list hr {
    width: 30%;
    border-color: black;
}

.representation-item {
    display: flex;
    justify-content: center;
    padding: 3px;
}

.representation-item input {
    margin-right: 5px;
}

.field-name > input[type=checkbox] {
    margin-right: 5px;
}

.field-name {
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.block-parameter {
    margin: 10px;
}

.block-union-parameter > .block-parameter {
    display: none;
}

.block-sub-classes > .block-parameter {
    display: none;
}

.block-algorithm {
    display: none;
}

.block-algorithms-selection {
    padding: 10px;
    border-bottom: 2px solid black;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: baseline;
}

.block-algorithms-selection > select {
    padding: 5px;
    margin-left: 10px;
}

.block-algorithms {
    margin: 5px;
}

.block-union-parameter > .block-parameter > .block-parameter-container {
    display: block;
}

.block-sub-classes > .block-parameter > .block-parameter-container {
    display: block;
}

.block-algorithm > .block-parameter > .block-parameter-container {
    display: block;
}

.block-parameter-container {
    display: flex;
}

.block-parameter:empty {
    border: 2px solid red;
}

.block-algorithm > .block-parameter > .block-parameter-container > .block-sub-classes-selection > label {
    font-weight: normal;
}

.block-algorithm > .block-parameter > .block-parameter-container > .block-sub-classes-selection {
    margin-left: 0px;
}

.empty-params > .block-sub-classes-selection > label {
    font-weight: normal;
}

.empty-params > .block-sub-classes-selection {
    margin-left: 0px;
}

.empty {
    display: none;
}

.block-parameter-container.complex {
    display: block;
}

input[type=text], input[type=number] {
    margin-left: 10px;
}

.block-sub-classes > .block-parameter > .block-parameter-container > .block-parameter {
    margin-left: 0px;
}

.block-union-parameter {
    margin-top: 5px;
}

.block-sub-classes > .block-parameter {
    padding: 5px 0px 0px 5px;
}

::-webkit-scrollbar {
    border-left: 2px solid black;
    width: 10px;
}

::-webkit-scrollbar-track {
    border-left: 2px solid black;
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-left: 2px solid black;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    border-left: 2px solid black;
    background: #555;
}

.block-sub-classes > .block-parameter > .block-parameter-container > label::before {
    content: "▸";
}

.select-subclass {
    margin-left: 10px;
}

.block-sub-classes-selection {
    margin: 10px;
}

.block-sub-classes-selection > label {
    font-weight: bold;
}

.block-union-parameter > .block-parameter > .block-parameter-container.complex {
    border: 1px solid black;
    border-radius: 5px;
}
.block-sub-classes > .block-parameter > .block-parameter-container > label {
    font-weight: bold;
}

.block-sub-classes > .block-parameter > .block-parameter-container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 0px 0px 10px;
}