{% from "helpers/_parmshelper.html" import render_param %}

{% macro render_representation(representation, fields_list) %}
<div class="div-representation">
    <div class="wrapper-name-id">
        <button class="close-representation">–</button>
        <div class="representation-algorithm-name"> {{ representation['algorithm']['name'] }} </div>
        <div class="representation-id"> | Id Rappresentazione:
            {% if representation %}
                <input type="text" class="input-name-id" value="{{ representation['id'] }}"> </div>
            {% else %}
                <input type="text" class="input-name-id" value="default"> </div>
            {% endif %}
        <img class="delete-representation" src="{{ url_for('static', filename='icons/delete-icon.svg') }}">
    </div>

    <div class="wrapper-representation-content">
        {% if representation['algorithm']['params'] %}
        <div class="div-representation-header">
            <div class="header-label">Parametri</div>
        </div>
        <div class="div-representation-content">
            <div class="parameters-table">
                {% for param in representation['algorithm']['params'] %}
                    {{ render_param(param, false, fields_list) }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if 'preprocess' in representation %}
        <div class="div-representation-header">
            <div class="header-label">NLP</div>
        </div>
        <div class="div-representation-content">
            <div class="nlp-table">
                {% for technique in representation['preprocess'] %}
                    <div class="nlp-technique">
                        <div class="nlp-name">
                            {% if 'use' in technique and technique['use'] %}
                                <input type="checkbox" name="nlp_technique" checked>
                            {% else %}
                                <input type="checkbox" name="nlp_technique">
                            {% endif %}
                            <label>{{ technique['name'] }}</label>
                        </div>
                        {% for param in technique['params'] %}
                            {{ render_param(param, false, fields_list) }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if 'memory_interfaces' in representation %}
        <div class="div-representation-header">
            <div class="header-label">Memory Interfaces</div>
        </div>
        <div class="div-representation-content">
            <div class="mi-table">
                <div class="block-algorithms-selection">
                    {% if representation['memory_interfaces']['use'] %}
                        <input type="checkbox" checked>
                    {% else %}
                        <input type="checkbox">
                    {% endif %}
                    <label>Algorithm</label>
                    <select class="select-algorithm" name="algtype">
                        {% for algorithm in representation['memory_interfaces']['algorithms'] %}
                            {% if algorithm["name"] == representation['memory_interfaces']['value'] %}
                            <option value="{{ algorithm['name'] }}" selected>{{ algorithm['name'] }}</option>
                            {% else %}
                            <option value="{{ algorithm['name'] }}">{{ algorithm['name'] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="block-algorithms">
                    {% for algorithm in representation['memory_interfaces']['algorithms'] %}
                        {% if algorithm["name"] == representation['memory_interfaces']['value'] %}
                        <div class="block-algorithm active-block" name="algtype-{{ algorithm['name'] }}">
                        {% else %}
                        <div class="block-algorithm" name="algtype-{{ algorithm['name'] }}">
                        {% endif %}
                        {% for param in algorithm['params'] %}
                            {{ render_param(param, false, fields_list) }}
                        {% endfor %}
                         </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}
